* {
  padding: 20;
  margin: 0;
  background-color: rgb(1, 15, 26);
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(1, 15, 26);
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;

}

nav .menu li {
  display: inline-block;
  margin-left: 40px;
}

nav .menu a {
  color: #fff;
  padding-bottom: 2px;
}

nav .menu a:hover,
nav .menu a:focus {
  border-bottom: 1.5px solid #fff;
}

header img {
  width: 178px;
  height: 19px;
}

footer {
  background-color: rgb(1, 15, 26);
  color: #fff;
  padding: 20px;
  margin-top: 5%;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin: auto;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.left-section a,
.right-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.left-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 100px;
}

h1 {
  font-size: 100px;
}

#img2 {
  display: flex;
  justify-content: flex-end;
}

#img2 img {
  width: 200px;
  height: auto;
}

body {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#img1 img {
  width: 200px;
  height: auto;
  margin-bottom: 10%;
}

.right-section .logo {
  margin-right: 30px;
}

.right-section .logo:last-child {
  margin-right: 0;
}

#under {
  text-decoration: underline;
}

h4 {
  margin-bottom: 5%;
  font-weight: normal;
}